div#grid-container {
	background-color: aqua;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 45rem;
	height: 45rem;

	display: flex;
	flex-wrap: wrap;

	border: black solid 2px;
}

.cell {
	background-color: white;
}

div.black {
	background-color: black;
}

button#clear {
	position: absolute;
	top: 10%;
	left: 50%;
}