div#main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	/* TODO: Can I make this all relative instead of hardcoding pixel values? */
	width: 722px;
	height: 900px;
}

div.controls {
	padding: 1rem;

	display: flex;
	justify-content: center;
}

button, #picker {
	margin: 2px;
}

div#grid-container {
	background-color: white;

	width: 720px;
	height: 720px;

	display: flex;
	flex-wrap: wrap;

	border: black solid 1px;
}

.cell {
	background-color: white;
}